header {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #55606a;
}

header a {
    line-height: 60px;
    font-size: 2em;
    font-weight: 300;
    margin-left: 14%;
    cursor: pointer;
}

nav {
    width: 100%;
    height: 75px;
    position:absolute;
    bottom: 0;
    left: 0;
    box-sizing:border-box;
}

nav ul {
    width: 252px;
}

nav li {
    width: 59px;
    height: 64px;
}

nav li:hover {
    top: 0;
}

nav li img {
    margin: 0 auto 8px auto;
    width: 100%;
    height: 100%;
}

section {
    overflow-y: scroll; /* has to be scroll, not auto */
}

footer {
    width: 100%;
    height: 64px;
    position:relative;
    box-sizing:border-box;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6);
}

footer ul {
    width: 60px;
}

footer li {
    width: 52px;
    height: 52px;
    padding: 4px;
    background: url(../img/btn_home.png) no-repeat 0 0;
    background-size: 100%;
    cursor: pointer;
    margin-top: 2px;
}

.work li {
    width: 120px;
    height: 120px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.abstract {
    font-size: 1.2em;
}

.hero {
    font-size: 2.5em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 1.8em;
}

.home .avatar {
    width: 156px;
    height: 156px;
}