<span class="hero">about</span>

<h3>short bio</h3>
<p class="abstract">
    I’m Mattia Franchetto a web/mobile developer based in Turin, Italy. I love coding and making experiments. <br /><br />
    
    Computer science expert graduated at I.I.S. G.Peano in Turin, i studied every day and made experiments for at least five years. <br /></br />
    
    I like build web apps with (and without) nodejs. <br /> <br />
    
    Android addicted but also iOS developer. <br /> <br />
    
    Mac user. <br /> <br />
    
    Currently working for Froggy Media srl in Turin.
    
    That's all you need to know about me and my passion.
</p>

           