<h2 class="hero">work</h2>

<h3>skills</h3>
<p class="abstract">
    
    html / css / javascript (html5) <br />
    nodejs / nodejitsu <br />
    php <br />
    java (& android sdk)<br />
    obj-c (& xcode)<br />
    blackberry 10 webworks <br />
    so many must-needed apps (photoshop for example) <br />
    cvs (git, svn) <br /> <br />
    
    Looking for the entire list ? See my <a href="http://www.linkedin.com/pub/mattia-franchetto/63/1bb/210" target="_blank">Linkedin</a> profile !
    
    <br /> <br />
    Like my work ? Want to work with me ? <a href="#!section=contact">Contact</a> me ! 
</p>

<h3>apps</h3>

<h4>android</h4>
<ul>
    <li>
        <a href="https://play.google.com/store/apps/details?id=it.froggy.goldhunt&hl=it" target="_blank">
            <img src="/img/app_icon_goldhunt.png" />
            <span>gold hunt</span>
        </a>
    </li>
    
    <li>
        <a href="http://basic.net" target="_blank">
            <img src="/img/app_icon_superga.png" />
            <span>superga</span>
        </a>
    </li>
    
    <li>
        <a href="http://basic.net" target="_blank">
            <img src="/img/app_icon_kway.png" />
            <span>kway</span>
        </a>
    </li>
    
    <li>
        <a href="https://play.google.com/store/apps/details?id=it.froggy.android.metro&hl=it" target="_blank">
            <img src="/img/app_icon_metro.png" />
            <span>metro</span>
        </a>
    </li>
    
    <li>
        <a href="http://www.cucchiaio.it/" target="_blank">
            <img src="/img/app_icon_cucchiaio.png" />
            <span>cucchiaio</span>
        </a>
    </li>
</ul>

<h4>blackberry 10 (webworks)</h4>
<ul>
    <li>
        <a href="http://appworld.blackberry.com/webstore/content/20200240" target="_blank">
            <img src="/img/app_icon_105.png" />
            <span>radio105</span>
        </a>
    </li>
    
    <li>
        <a href="http://appworld.blackberry.com/webstore/content/20200244" target="_blank">
            <img src="/img/app_icon_rmc.png" />
            <span>rmc</span>
        </a>
    </li>
    
    <li>
        <a href="http://appworld.blackberry.com/webstore/content/20200248" target="_blank">
            <img src="/img/app_icon_virgin.png" />
            <span>virgin</span>
        </a>
    </li>
    
    <li>
        <a href="http://appworld.blackberry.com/webstore/content/20200251" target="_blank">
            <img src="/img/app_icon_tgcom.png" />
            <span>tgcom</span>
        </a>
    </li>
    
    <li>
        <a href="http://www.sportmediaset.mediaset.it/" target="_blank">
            <img src="/img/app_icon_sportmediaset.png" />
            <span>sportmediaset</span>
        </a>
    </li>
    
    <li>
        <a href="http://appworld.blackberry.com/webstore/content/26773876" target="_blank">
            <img src="/img/app_icon_foxfan.png" />
            <span>fox fan</span>
        </a>
    </li>
    
    <li>
        <a href="http://appworld.blackberry.com/webstore/content/29000890" target="_blank">
            <img src="/img/app_icon_natgeo.png" />
            <span>natgeo fan</span>
        </a>
    </li>
    
    <li>
        <a href="http://appworld.blackberry.com/webstore/content/24215880" target="_blank">
            <img src="/img/app_icon_twellness.png" />
            <span>twellness</span>
        </a>
    </li>
    
    <li>
        <a href="http://appworld.blackberry.com/webstore/content/26791872" target="_blank">
            <img src="/img/app_icon_magnum.png" />
            <span>magnum</span>
        </a>
    </li>
    
    <li>
        <a href="http://appworld.blackberry.com/webstore/content/29253887" target="_blank">
            <img src="/img/app_icon_comingsoon.png" />
            <span>coming soon</span>
        </a>
    </li>
    
    <li>
        <a href="http://appworld.blackberry.com/webstore/content/22550880" target="_blank">
            <img src="/img/app_icon_panorama.png" />
            <span>panorama</span>
        </a>
    </li>
    
    <li>
        <a href="http://appworld.blackberry.com/webstore/content/22592879" target="_blank">
            <img src="/img/app_icon_grazia.png" />
            <span>grazia</span>
        </a>
    </li>
</ul>

<h4>ios (webapp)</h4>
<ul>
    <li>
        <a href="https://appslot.it" target="_blank">
            <img src="/img/app_icon_appslot.png" />
            <span>appslot</span>
        </a>
    </li>
</ul>
