<h2 class="hero">work</h2>

<h3>skills</h3>
<p class="abstract">
    
    html / css / javascript (html5) <br />
    nodejs / nodejitsu <br />
    php <br />
    java (& android sdk)<br />
    obj-c (& xcode)<br />
    blackberry 10 webworks <br />
    must-needed apps (photoshop for example) <br />
    cvs (git, svn) <br /> <br />
    
    Looking for the entire list ? See my <a href="http://www.linkedin.com/pub/mattia-franchetto/63/1bb/210" target="_blank">Linkedin</a> profile !
    
    <br /><br />
    <a href="http://mattiafranchetto.com/cv.pdf">Curriculum Vitae</a>
</p>

