@media screen and (max-width: 68em) {

  header {
    height: 60px;
  }

  #content-parent {
    padding-top: 60px;
  }

  header a {
    font-size: 2em;
    font-weight: 300;
    margin-left: 14%;
    cursor: pointer;
  }

  .work li {
    width: 120px;
    height: 120px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  .abstract {
    font-size: 1.2em;
  }

  .hero {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2.2em;
  }

  h4 {
    font-size: 1.8em;
  }

  .home .avatar {
    width: 156px;
    height: 156px;
  }
}